@page
@model PublikDisplay.Pages.EditimageModel
@{
}
<div class="mainContainer">
    <div class="infoContainer">
        <form method="post" asp-page="Editimage" enctype="multipart/form-data">
             <fieldset class="addUserContainer">
                <legend class="formTitel">Ändra bildspel</legend>
                <label class="labelC">Bilden: </label><br/>
                <td><img style="height:75px; width:75px;" src="~/images/@Model.ImageFileName" alt="@Model@Model.Imagename" /></td><br />

            <label> Välj bilden:</label>
        <input type="file" name="photo" accept="/wwwroot/images" /><br />
         <input class="buttonB" type="submit"  value="Updatera bilden" asp-page-handler="EditImageFile"/>
        <br />
         <label class="inputC">Beskrivning: </label><br/><br/>
        <textarea style="height:300px; width: 350px;" asp-for="MainText"></textarea><br />
         <input class="buttonB" type="submit"  value="Updatera Beskrivningen" asp-page-handler="EditText"/>
        </fieldset>
    </form>
    @if (TempData["Msg"] != null)
{
    <div class="msg">
        <p><strong>@TempData["Msg"].ToString()</strong></p>
    </div>
}

    </div>
}
    <div class="navContainer">
        <div class="navButtonGroup">
            <a asp-area="" asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">home</span>
                    <br>Hem
                </button>
            </a>
            <a asp-area="" asp-page="/System">
                <button>
                    <span class="material-icons bigSize">dvr</span>
                    <br>System
                </button>
            </a>
            <a asp-area="" asp-page="/Settings">
                <button class="buttonCurrent">
                    <span class="material-icons bigSize">settings</span>
                    <br>Inställningar
                </button>
            </a>
            <a asp-area="" asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">logout</span>
                    <br>Logga ut
                </button>
            </a>
        </div>
</div>