@page
@{
    ViewData["Title"] = "Settings";
}

<div class="mainContainer">
    <div class="infoContainer">
        <p> Här kommer det finnas inställningar senare</p>
    </div>
    <div class="navContainer">
        <div class="navButtonGroup">
            <a asp-area="" asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">home</span>
                    <br>Hem
                </button>
            </a>
            <a asp-area="" asp-page="/System">
                <button>
                    <span class="material-icons bigSize">dvr</span>
                    <br>System
                </button>
            </a>
            <a asp-area="" asp-page="/Settings">
                <button class="buttonCurrent">
                    <span class="material-icons bigSize">settings</span>
                    <br>Inställningar
                </button>
            </a>
            <a asp-area="" asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">logout</span>
                    <br>Logga ut
                </button>
            </a>
        </div>
    </div>
</div>