@page "/System/{id}"
@model PublikDisplay.Pages.SystemInfoModel
@{
    string[,] testData = {
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BTAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"TAG","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"},
        {"BEACON","03FF5C0A2BFA3A9B", "2022-02-01", "14:34:13"}
    };
    string[] testConfig ={"BEACON", "TAG"};
    int configAmount = testConfig.Length;
    int lengthIndex = testData.GetLength(0);
    int i = 0;
    int j = 0;
    int q = 0;
}


<div class="mainContainer">
    <div class="infoContainer">
        <div class="splitInfo">
            <div class="systemInfo">
                <a asp-page="/System">
                    <span class="material-icons bigSize" style="line-height:20vh;vertical-align:middle;float:left;margin-left:20px">west</span>
                </a>
                <h3>System logs</h3>
            </div>
        </div>
        <div class="splitInfo">
            <div class="systemInfo">
                <p>Höger</p>
            </div>
        </div>
    </div>
    <div class="navContainer">
        <div class="navButtonGroup">
            <a asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">home</span>
                    <br>Hem
                </button>
            </a>
            <a asp-page="/System">
                <button class="buttonCurrent">
                    <span class="material-icons bigSize">dvr</span>
                    <br>System
                </button>
            </a>
            <a asp-page="/Settings">
                <button>
                    <span class="material-icons bigSize">settings</span>
                    <br>Inställningar
                </button>
            </a>
            <a asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">logout</span>
                    <br>Logga ut
                </button>
            </a>
        </div>
    </div>
</div>
