@page
@{
    ViewData["Title"] = "System";
}
@{
    string[,] testData = {
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Hue","0", "4"},
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Hue","0", "4"},
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Hue","0", "4"},
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Hue","0", "4"},
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Hue","0", "4"},
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Hue","0", "4"},
        {"Fibaro","2", "1"},
        {"Widefind","1", "3"},
        {"Hue","0", "4"},
        {"Windows","0", "10"}
    };
    int lengthIndex = testData.GetLength(0);
    int i = 0;
    string systemPage;
}

<div class="mainContainer">
    <div class="infoContainer overflow">
        @while(i<lengthIndex)
        {
            <a href="/System/@testData[i, 2]" >
                <div class="systemContainer">
                    <h2 style="color:black">@testData[i, 0]</h2>
                    @if (string.Equals(testData[i, 1], "2"))
                    {
                        <span class="statusCircle green"></span>
                    }
                    else if (string.Equals(testData[i, 1], "1"))
                    {
                        <div class="statusCircle yellow"></div>
                    }
                    else
                    {
                        <div class="statusCircle red"></div>
                    }
                    <p>Klicka för mer info</p>
                </div>
            </a>
            i++;
        }
    </div>
    <div class="navContainer">
        <div class="navButtonGroup">
            <a asp-area="" asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">home</span>
                    <br>Hem
                </button>
            </a>
            <a asp-area="" asp-page="/System">
                <button class="buttonCurrent">
                    <span class="material-icons bigSize">dvr</span>
                    <br>System
                </button>
            </a>
            <a asp-area="" asp-page="/Settings">
                <button>
                    <span class="material-icons bigSize">settings</span>
                    <br>Inställningar
                </button>
            </a>
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">logout</span>
                    <br>Logga ut
                </button>
            </a>
        </div>
    </div>
</div>
