@page
@model HtmlLayout.Pages.PrivacyModel
@{
    ViewData["Title"] = "System";
}
@{
    int i = 0;
}

<div class="mainContainer">
    <div class="infoContainer overflow">
        @while(i<@Model.systems.Length)
        {
            <a href="/System/@Model.systems[i][0]" >
                <div class="systemContainer">
                    <h2 style="color:black;font-family:system-ui;">@Model.systems[i][1]</h2>
                    @if (string.Equals(@Model.systems[i][2], "Normal"))
                    {
                        <span class="statusCircle green"></span>
                    }
                    else if (string.Equals(@Model.systems[i][2], "Warning"))
                    {
                        <div class="statusCircle yellow"></div>
                    }
                    else
                    {
                        <div class="statusCircle red"></div>
                    }
                    <p>Klicka för mer info</p>
                </div>
            </a>
            i++;
        }
    </div>
    <div class="navContainer">
        <div class="navButtonGroup">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <button>
                    <span class="material-icons bigSize">home</span>
                    <br>Hem
                </button>
            </a>
            <a class="navbar-brand" asp-area="" asp-page="/System">
                <button class="buttonCurrent">
                    <span class="material-icons bigSize">dvr</span>
                    <br>System
                </button>
            </a>
            <a class="navbar-brand" asp-area="" asp-page="/Settings">
                <button>
                    <span class="material-icons bigSize">settings</span>
                    <br>Inställningar
                </button>
            </a>
            <a class="navbar-brand" id="logoutBtn" asp-page="Index" asp-page-handler="LogoutBtn">
                <button>
                    <span class="material-icons bigSize">logout</span>
                    <br>Logga ut
                </button>
            </a>
        </div>
    </div>
</div>
